.clearfix:after {
  content: " ";
  /* Older browser do not support empty content */
  visibility: hidden;
  display: block;
  height: 0;
  clear: both; }

.u-material-icons, .checkbox input[type="checkbox"] + label:before,
.radio input[type="checkbox"] + label:before, .checkbox input[type="checkbox"]:checked + label:before,
.radio input[type="checkbox"]:checked + label:before, .checkbox input[type="radio"] + label:before,
.radio input[type="radio"] + label:before, .checkbox input[type="radio"]:checked + label:before,
.radio input[type="radio"]:checked + label:before, .select::before, .smartlink:before, .teacher-comment h4:before {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  -webkit-font-feature-settings: 'liga';
  -webkit-font-smoothing: antialiased; }

.u-transition, input[type="text"],
input[type="email"],
input[type="number"],
input[type="tel"],
input[type="date"],
input[type="password"],
textarea, input[type="text"]:focus,
input[type="email"]:focus,
input[type="number"]:focus,
input[type="tel"]:focus,
input[type="date"]:focus,
input[type="password"]:focus,
textarea:focus, form--negative input[type='text']:focus, form--negative input[type='email']:focus, form--negative input[type='date']:focus, form--negative input[type='tel']:focus, form--negative input[type='submit']:focus, form--negative textarea:focus,
.form--negative input[type='text']:focus,
.form--negative input[type='email']:focus,
.form--negative input[type='date']:focus,
.form--negative input[type='tel']:focus,
.form--negative input[type='submit']:focus,
.form--negative textarea:focus, .select, .select:hover, .button, button,
input[type='button'],
input[type='reset'],
input[type="submit"], input[type="file"], .button:hover, button:hover,
input[type='button']:hover,
input[type='reset']:hover,
input[type="submit"]:hover, input[type="file"]:hover, .smartlink-content, .smartlink-content.js-active, .modal__inner .button-next .material-icons, .modal__inner, .modal.js-active .modal__inner, .result__track, .js-result.js-active {
  transition: all .4s ease; }

* {
  box-sizing: border-box; }

body {
  margin: 0;
  padding: 0;
  height: 100vh;
  width: 100vw; }

a {
  color: currentColor;
  text-decoration: none; }

body {
  font-family: "freight-text-pro", Georgia, Cambria, "Times New Roman", Times, serif;
  font-weight: 100;
  letter-spacing: .5px;
  font-size: 20px;
  line-height: 1.5;
  color: #2A363B; }

#overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: none;
  z-index: 99; }
  #overlay.js-active {
    display: block; }

.temp-index {
  text-align: center;
  padding: 50px; }
  .temp-index .button, .temp-index button,
  .temp-index input[type='button'],
  .temp-index input[type='reset'],
  .temp-index input[type="submit"], .temp-index input[type="file"] {
    font-size: 3rem;
    padding: 50px;
    display: block;
    margin-bottom: 30px; }

@media (min-width: 40.063em) {
  .mobile-only {
    display: none !important; } }

input[type="text"],
input[type="email"],
input[type="number"],
input[type="tel"],
input[type="date"],
input[type="password"],
select,
textarea {
  letter-spacing: .5px;
  font-family: "din-2014",sans-serif;
  font-weight: 100; }

input[type="text"],
input[type="email"],
input[type="number"],
input[type="tel"],
input[type="date"],
input[type="password"] {
  border: 0; }

input:focus,
select:focus,
textarea:focus,
button:focus {
  outline: none; }

input[type="text"],
input[type="email"],
input[type="number"],
input[type="tel"],
input[type="date"],
input[type="password"],
textarea {
  text-align: left;
  border: 1px solid transparent;
  background-color: rgba(0, 0, 0, 0.05);
  width: 100%;
  margin-bottom: 20px; }

input[type="text"],
input[type="email"],
input[type="number"],
input[type="tel"],
input[type="password"] {
  padding: 17px; }

input[type="date"] {
  padding: 15px; }

input[type="text"]:focus,
input[type="email"]:focus,
input[type="number"]:focus,
input[type="tel"]:focus,
input[type="date"]:focus,
input[type="password"]:focus,
textarea:focus {
  background-color: rgba(0, 0, 0, 0.05);
  border: 1px solid #f3575e; }

textarea {
  resize: vertical; }

input[type="checkbox"],
input[type="radio"] {
  display: none; }

input:disabled + label {
  opacity: .4; }

button,
input[type='button'],
input[type='reset'],
input[type="submit"] {
  border: 0; }

button {
  border-radius: 0;
  padding: 17px 20px; }

fieldset {
  border: 0;
  padding: 0;
  margin: 5px 0; }

form,
.form {
  padding: 10px 0;
  color: black;
  /* Firefox 18- */
  /* Firefox 19+ */ }
  form input[type="date"],
  .form input[type="date"] {
    color: rgba(0, 0, 0, 0.5); }
  form ::-webkit-input-placeholder,
  .form ::-webkit-input-placeholder {
    color: rgba(0, 0, 0, 0.5);
    text-align: left; }
  form :-moz-placeholder,
  .form :-moz-placeholder {
    color: rgba(0, 0, 0, 0.5);
    text-align: left; }
  form ::-moz-placeholder,
  .form ::-moz-placeholder {
    color: rgba(0, 0, 0, 0.5);
    text-align: left; }
  form :-ms-input-placeholder,
  .form :-ms-input-placeholder {
    color: rgba(0, 0, 0, 0.5);
    text-align: left; }
  form--negative input,
  .form--negative input {
    color: white; }
  form--negative input[type='text'], form--negative input[type='email'], form--negative input[type='date'], form--negative input[type='tel'], form--negative input[type='submit'], form--negative textarea,
  .form--negative input[type='text'],
  .form--negative input[type='email'],
  .form--negative input[type='date'],
  .form--negative input[type='tel'],
  .form--negative input[type='submit'],
  .form--negative textarea {
    background-color: rgba(255, 255, 255, 0.1); }
    form--negative input[type='text']::-webkit-input-placeholder, form--negative input[type='email']::-webkit-input-placeholder, form--negative input[type='date']::-webkit-input-placeholder, form--negative input[type='tel']::-webkit-input-placeholder, form--negative input[type='submit']::-webkit-input-placeholder, form--negative textarea::-webkit-input-placeholder,
    .form--negative input[type='text']::-webkit-input-placeholder,
    .form--negative input[type='email']::-webkit-input-placeholder,
    .form--negative input[type='date']::-webkit-input-placeholder,
    .form--negative input[type='tel']::-webkit-input-placeholder,
    .form--negative input[type='submit']::-webkit-input-placeholder,
    .form--negative textarea::-webkit-input-placeholder {
      color: white; }
    form--negative input[type='text']:-moz-placeholder, form--negative input[type='email']:-moz-placeholder, form--negative input[type='date']:-moz-placeholder, form--negative input[type='tel']:-moz-placeholder, form--negative input[type='submit']:-moz-placeholder, form--negative textarea:-moz-placeholder,
    .form--negative input[type='text']:-moz-placeholder,
    .form--negative input[type='email']:-moz-placeholder,
    .form--negative input[type='date']:-moz-placeholder,
    .form--negative input[type='tel']:-moz-placeholder,
    .form--negative input[type='submit']:-moz-placeholder,
    .form--negative textarea:-moz-placeholder {
      color: white; }
    form--negative input[type='text']::-moz-placeholder, form--negative input[type='email']::-moz-placeholder, form--negative input[type='date']::-moz-placeholder, form--negative input[type='tel']::-moz-placeholder, form--negative input[type='submit']::-moz-placeholder, form--negative textarea::-moz-placeholder,
    .form--negative input[type='text']::-moz-placeholder,
    .form--negative input[type='email']::-moz-placeholder,
    .form--negative input[type='date']::-moz-placeholder,
    .form--negative input[type='tel']::-moz-placeholder,
    .form--negative input[type='submit']::-moz-placeholder,
    .form--negative textarea::-moz-placeholder {
      color: white; }
    form--negative input[type='text']:-ms-input-placeholder, form--negative input[type='email']:-ms-input-placeholder, form--negative input[type='date']:-ms-input-placeholder, form--negative input[type='tel']:-ms-input-placeholder, form--negative input[type='submit']:-ms-input-placeholder, form--negative textarea:-ms-input-placeholder,
    .form--negative input[type='text']:-ms-input-placeholder,
    .form--negative input[type='email']:-ms-input-placeholder,
    .form--negative input[type='date']:-ms-input-placeholder,
    .form--negative input[type='tel']:-ms-input-placeholder,
    .form--negative input[type='submit']:-ms-input-placeholder,
    .form--negative textarea:-ms-input-placeholder {
      color: white; }
    form--negative input[type='text']:focus, form--negative input[type='email']:focus, form--negative input[type='date']:focus, form--negative input[type='tel']:focus, form--negative input[type='submit']:focus, form--negative textarea:focus,
    .form--negative input[type='text']:focus,
    .form--negative input[type='email']:focus,
    .form--negative input[type='date']:focus,
    .form--negative input[type='tel']:focus,
    .form--negative input[type='submit']:focus,
    .form--negative textarea:focus {
      background-color: rgba(255, 255, 255, 0.2); }
  form--negative input[type="submit"]:hover,
  .form--negative input[type="submit"]:hover {
    background-color: rgba(255, 255, 255, 0.2); }

.checkbox,
.radio {
  padding: 7px 10px;
  margin-bottom: 10px; }
  .checkbox input[type="checkbox"] + label:before,
  .checkbox input[type="radio"] + label:before,
  .radio input[type="checkbox"] + label:before,
  .radio input[type="radio"] + label:before {
    vertical-align: -6px;
    margin-right: 15px; }
  .checkbox input[type="checkbox"] + label:before,
  .radio input[type="checkbox"] + label:before {
    content: 'check_box_outline_blank'; }
  .checkbox input[type="checkbox"]:checked + label:before,
  .radio input[type="checkbox"]:checked + label:before {
    content: 'check_box'; }
  .checkbox input[type="radio"] + label:before,
  .radio input[type="radio"] + label:before {
    content: 'radio_button_unchecked'; }
  .checkbox input[type="radio"]:checked + label:before,
  .radio input[type="radio"]:checked + label:before {
    content: 'radio_button_checked'; }

.select {
  background-color: rgba(0, 0, 0, 0.05);
  text-align: left;
  padding: 0 65px 0 15px;
  margin-bottom: 15px;
  position: relative;
  border: 1px solid transparent; }
  .select::before {
    content: 'keyboard_arrow_down';
    position: absolute;
    pointer-events: none;
    right: 0;
    padding-top: 17px;
    margin: 0 auto 0 auto;
    width: 42px;
    height: 32px;
    color: black;
    z-index: -1; }
  .select select {
    height: 54px;
    border: 0;
    border-radius: 0;
    margin: 0;
    background-color: transparent;
    width: 100%;
    font-size: 1.1rem;
    -webkit-appearance: none;
    background-image: none;
    color: rgba(0, 0, 0, 0.6); }
  .select:hover {
    background-color: rgba(0, 0, 0, 0.05); }
  .select:focus {
    border: 1px solid #f3575e; }

.large-input {
  font-size: 3rem;
  font-weight: 100; }
  .large-input:disabled {
    background-color: transparent;
    border: 1px solid rgba(0, 0, 0, 0.1); }

.button, button,
input[type='button'],
input[type='reset'],
input[type="submit"], input[type="file"] {
  display: inline-block;
  text-transform: uppercase;
  letter-spacing: 1px;
  background-color: transparent;
  cursor: pointer;
  padding: 15px 20px;
  text-decoration: none;
  font-size: 1.1rem;
  font-family: "din-2014", sans-serif;
  border: 1px solid currentColor; }
  .button:hover, button:hover,
  input[type='button']:hover,
  input[type='reset']:hover,
  input[type="submit"]:hover, input[type="file"]:hover {
    text-decoration: none; }
  .button i, button i,
  input[type='button'] i,
  input[type='reset'] i,
  input[type="submit"] i, input[type="file"] i {
    margin-left: 15px;
    vertical-align: middle;
    float: right; }

.button--icon-only i {
  margin-left: 0;
  float: none; }

.button--black {
  color: white; }
  .button--black:hover {
    color: white; }

.button--black {
  background-color: rgba(0, 0, 0, 0.8); }
  .button--black:hover {
    background-color: rgba(0, 0, 0, 0.9); }

.button--disabled {
  pointer-events: none;
  opacity: 0.5; }

.button--large {
  font-size: 2.3rem; }

.prose header {
  text-align: left;
  background-color: #f3575e;
  padding: 40px 0 0;
  color: white;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-color: #eee; }
  @media (min-width: 40.063em) {
    .prose header {
      padding: 180px 0 0;
      margin-bottom: 0; } }
  .prose header h1, .prose header h2, .prose header h3, .prose header .authors {
    margin: 0;
    color: white; }
    .prose header h1 > span, .prose header h2 > span, .prose header h3 > span, .prose header .authors > span {
      background-color: rgba(66, 66, 84, 0.9);
      display: inline-block;
      padding: 0 10px;
      margin-bottom: 4px; }
  .prose header h2, .prose header h3 {
    font-weight: 300; }
  .prose header h1 {
    font-size: 1.8rem; }
  .prose header h2 {
    font-size: 1.4rem; }
  .prose header h3 {
    font-size: 1.2rem; }
  @media (min-width: 40.063em) {
    .prose header h1 {
      font-size: 3.2rem; }
    .prose header h2 {
      font-size: 1.6rem; }
    .prose header h3 {
      font-size: 1.4rem; } }
.prose__content,
.prose .header__content {
  margin: 0;
  padding: 20px 0;
  position: relative; }
  @media (min-width: 40.063em) {
    .prose__content,
    .prose .header__content {
      margin: 0 auto;
      max-width: 800px; } }
.prose__section {
  padding-bottom: 70px;
  border-bottom: 1px solid rgba(243, 87, 94, 0.6); }
.prose__controls {
  padding: 40px 0;
  background-color: rgba(0, 0, 0, 0.1); }

.authors {
  font-size: 1.6rem;
  padding-top: 30px; }
  @media (min-width: 40.063em) {
    .authors {
      padding-bottom: 80px; } }
  .authors sup {
    font-size: .9rem; }

.prose h1, .prose h2, .prose h3, .prose h4, .prose h5, .prose h6 {
  font-family: "din-2014", sans-serif;
  margin: 0; }
.prose h1 {
  font-size: 2.5rem;
  font-weight: 100;
  margin-bottom: 10px;
  color: #f3575e; }
  @media (min-width: 40.063em) {
    .prose h1 {
      margin-top: 60px; } }
.prose h2 {
  font-weight: 300;
  font-size: 2rem;
  margin-bottom: 10px;
  color: #f3575e; }
  @media (min-width: 40.063em) {
    .prose h2 {
      margin-top: 60px; } }
.prose h3 {
  font-weight: 400;
  font-size: 1.4rem;
  margin-bottom: 10px;
  color: #00a8d6; }
  @media (min-width: 40.063em) {
    .prose h3 {
      margin-top: 60px; } }
.prose p, .prose li, .prose blockquote {
  line-height: 1.8;
  margin-bottom: .65rem;
  letter-spacing: .8px;
  font-family: "freight-text-pro", Georgia, Cambria, "Times New Roman", Times, serif;
  font-weight: 100;
  font-style: normal;
  font-size: 21px;
  line-height: 1.58;
  color: #222; }
  .prose p sup, .prose li sup, .prose blockquote sup {
    font-size: .8rem; }
  .prose p strong, .prose li strong, .prose blockquote strong {
    color: #333; }
.prose blockquote {
  border: 1px solid #00c8ff;
  padding: 20px 30px;
  margin: 30px 0;
  background-color: rgba(0, 200, 255, 0.1); }
.prose .intro {
  font-size: 2rem; }

.smartlink {
  border-bottom: 1px dotted rgba(243, 87, 94, 0.6); }
  .smartlink:before {
    content: "check";
    position: absolute;
    left: -60px;
    font-size: 2rem;
    padding: 3px;
    color: rgba(243, 87, 94, 0.2); }
  .smartlink:hover {
    background-color: rgba(243, 87, 94, 0.2); }
  .smartlink:hover:before {
    color: rgba(66, 66, 84, 0.8); }
  .smartlink--footnote:before {
    content: "bookmark_border"; }
  .smartlink--article:before {
    content: "subject"; }
  .smartlink--video:before {
    content: "play_circle_filled"; }

.smartlink-anchor {
  position: relative;
  margin: 0 auto;
  max-width: 800px; }

.smartlink-wrapper ol, .smartlink-wrapper ul {
  list-style: none;
  padding: 0 0 0 40px; }

.smartlink-content {
  font-size: .9rem;
  position: absolute;
  z-index: 100;
  text-align: right;
  width: 220px;
  margin: 0;
  padding: 0;
  opacity: 0;
  pointer-events: none;
  left: -240px; }
  .smartlink-content.js-active {
    opacity: 1;
    pointer-events: all;
    left: -300px; }
  .smartlink-content p {
    font-size: .9rem;
    line-height: 1.5; }
    .smartlink-content p:first-child {
      margin-top: 0; }
    .smartlink-content p:last-child {
      margin-bottom: 0; }
  .smartlink-content a {
    border-bottom: 1px solid rgba(243, 87, 94, 0.3); }
    .smartlink-content a:hover {
      background-color: rgba(243, 87, 94, 0.1); }
  .smartlink-content--video iframe {
    width: 100%; }
  .smartlink-content--article h1 {
    font-size: 1.2rem;
    margin: 0; }
    .smartlink-content--article h1 a {
      border-bottom: 0; }
  .smartlink-content--article h3 {
    font-weight: 300;
    color: rgba(0, 0, 0, 0.5);
    font-size: .9rem; }

.box {
  margin: 50px 0;
  padding: 30px;
  background-color: rgba(53, 19, 48, 0.1);
  border: 1px solid rgba(53, 19, 48, 0.3); }
  .box h1, .box h2, .box h3, .box h4, .box h5, .box h6 {
    margin-top: 0; }
  .box p {
    margin: 0;
    font-family: "din-2014", sans-serif;
    font-weight: 300;
    line-height: 1.43;
    font-size: 1.2rem;
    color: rgba(53, 19, 48, 0.7); }
  .box p + p {
    margin-top: 10px; }

.box--atencao {
  background-color: rgba(243, 87, 94, 0.1);
  border-color: rgba(243, 87, 94, 0.2); }
  .box--atencao h1, .box--atencao h2, .box--atencao h3, .box--atencao h4, .box--atencao h5, .box--atencao h6 {
    color: #f3575e; }

.top-bar {
  display: flex; }
  .top-bar__button {
    flex: 0; }
  .top-bar__title {
    flex: 1; }

.top-bar__button {
  padding: 17px 20px;
  background-color: rgba(255, 255, 255, 0.05);
  color: white; }

.top-bar {
  background-color: #424254;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.15); }
  .top-bar h1 {
    margin: 0;
    font-size: 1.1rem;
    font-family: "din-2014", sans-serif;
    color: white;
    font-weight: 300;
    letter-spacing: 1px;
    text-transform: uppercase;
    text-align: center; }
    @media (min-width: 40.063em) {
      .top-bar h1 {
        font-size: 1.4rem; } }
    .top-bar h1 a {
      padding: 18px 40px;
      display: inline-block; }
      @media (min-width: 40.063em) {
        .top-bar h1 a {
          padding: 15px 40px; } }

.wrapper, .question-controls {
  margin-left: 20px;
  margin-right: 20px; }
  @media (min-width: 40.063em) {
    .wrapper, .question-controls {
      margin-left: auto;
      margin-right: auto;
      max-width: 700px; } }

.question h2, .question h3, .question h4, .question small {
  font-family: "din-2014", sans-serif; }
.question h2 {
  text-transform: uppercase;
  font-size: 1.5rem; }
  @media (min-width: 40.063em) {
    .question h2 {
      font-size: 2rem; } }
.question h3 {
  font-size: 1.1rem; }
  @media (min-width: 40.063em) {
    .question h3 {
      font-size: 1.4rem; } }
.question h4 {
  font-size: 1.2rem;
  text-transform: uppercase;
  color: #e1b866;
  font-weight: 400;
  margin: 0; }
.question p {
  color: rgba(63, 67, 76, 0.7);
  letter-spacing: .5px; }
.question__header {
  padding-top: 5vh;
  background-color: white;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.15); }
  .question__header hgroup {
    padding-bottom: 5vh; }
  .question__header h2, .question__header h3, .question__header small {
    color: rgba(63, 67, 76, 0.5);
    font-weight: 300;
    margin: 0; }
  .question__header small {
    font-size: 1rem; }
    @media (max-width: 40em) {
      .question__header small {
        font-size: .9rem;
        margin-top: 10px;
        line-height: 1.4;
        display: block; } }
.question__content {
  background-color: rgba(63, 67, 76, 0.05);
  padding: 5vh 0 10vh; }

.button--full {
  font-weight: 400;
  text-align: center; }

.question-controls {
  display: flex;
  flex-wrap: wrap; }
  @media (max-width: 40em) {
    .question-controls {
      padding-bottom: 30px; } }
  .question-controls .button, .question-controls button,
  .question-controls input[type='button'],
  .question-controls input[type='reset'],
  .question-controls input[type="submit"], .question-controls input[type="file"] {
    flex: 1;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.15); }
  .question-controls .button:first-of-type, .question-controls button:first-of-type,
  .question-controls input[type='button']:first-of-type,
  .question-controls input[type='reset']:first-of-type,
  .question-controls input[type="submit"]:first-of-type, .question-controls input[type="file"]:first-of-type {
    margin-right: 14px; }
  @media (min-width: 40.063em) {
    .question-controls .button:first-of-type, .question-controls button:first-of-type,
    .question-controls input[type='button']:first-of-type,
    .question-controls input[type='reset']:first-of-type,
    .question-controls input[type="submit"]:first-of-type, .question-controls input[type="file"]:first-of-type {
      margin-right: 40px; } }
  .question-controls .button--full {
    flex: 0 0 100%; }
    @media (min-width: 40.063em) {
      .question-controls .button--full {
        margin-top: 30px; } }

.progress {
  width: 100%;
  background-color: #dfe2b8;
  height: 6px;
  display: flex; }
  .progress__bar {
    flex: 1;
    background-color: transparent; }
  .progress--correct {
    background-color: #7acbad; }
  .progress--incorrect {
    background-color: #f3575e; }

.answer-button {
  background-color: white;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.15);
  font-weight: 300; }
  @media (max-width: 40em) {
    .answer-button {
      text-align: center;
      margin-top: -55px; } }
  @media (min-width: 40.063em) {
    .answer-button {
      padding: 40px 60px 40px 42px;
      font-size: 1.8rem;
      margin-top: -70px; } }
  .answer-button i {
    float: none;
    font-size: 3rem;
    margin-bottom: 5px; }
    @media (max-width: 40em) {
      .answer-button i {
        display: block;
        margin: 0 0 5px; } }
    @media (min-width: 40.063em) {
      .answer-button i {
        margin-right: 35px; } }
  .answer-button--correct {
    color: #7acbad; }
  .answer-button--incorrect {
    color: #f3575e; }

:checked + .answer-button--correct {
  color: white;
  background-color: #7acbad; }

:checked + .answer-button--incorrect {
  color: white;
  background-color: #f3575e; }

.modal {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 100;
  width: 100vw;
  height: 100vh;
  pointer-events: none; }

.modal__inner {
  z-index: 101;
  pointer-events: all;
  width: 100vw;
  height: 100vh; }
  @media (min-width: 40.063em) {
    .modal__inner {
      position: relative;
      margin-left: auto;
      margin-right: auto;
      margin-top: 34vh;
      max-width: 800px;
      width: 80vw;
      height: 56.7vh;
      box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.2); } }
  .modal__inner .button-next {
    position: static;
    background-color: #3f434c;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.2); }
    @media (min-width: 40.063em) {
      .modal__inner .button-next {
        transform: rotate(45deg);
        height: 100px;
        width: 100px;
        right: -20px;
        bottom: 60px;
        position: absolute; } }
    .modal__inner .button-next .material-icons {
      color: #3f434c; }
      @media (min-width: 40.063em) {
        .modal__inner .button-next .material-icons {
          color: rgba(255, 255, 255, 0.3);
          font-size: 6rem;
          transform: rotate(-45deg); } }
    .modal__inner .button-next:hover .material-icons {
      color: white; }

.modal__inner {
  opacity: 0;
  pointer-events: none; }
  @media (min-width: 40.063em) {
    .modal__inner {
      transform: scale(1.2); } }

.modal.js-active .modal__inner {
  opacity: 1;
  pointer-events: all;
  transform: scale(1); }

.result {
  text-align: center;
  background-color: white;
  height: inherit;
  overflow-y: hidden; }
  @media (min-width: 40.063em) {
    .result {
      width: 100%; } }
  .result__content {
    height: 100vh;
    padding: 86px 20px; }
    @media (min-width: 40.063em) {
      .result__content {
        padding: 99px 60px;
        height: 100%; } }
    .result__content h2 {
      text-transform: uppercase;
      font-family: "din-2014", sans-serif;
      font-size: 3rem;
      font-weight: 400;
      color: white;
      letter-spacing: 2px;
      display: block;
      margin-bottom: 40px; }
    .result__content > .material-icons {
      font-size: 10rem;
      color: white;
      text-shadow: 3px 3px 15px rgba(0, 0, 0, 0.25);
      margin-top: 20px; }
  .result--correct {
    background-color: #7acbad; }
  .result--incorrect {
    background-color: #f3575e; }

.button--full {
  margin-top: 10px;
  width: 100%;
  color: rgba(63, 67, 76, 0.7); }
  @media (min-width: 40.063em) {
    .button--full {
      margin-top: 30px;
      width: 65%; } }

.teacher-comment {
  padding: 20px;
  background-color: white;
  color: #3f434c;
  text-align: left;
  overflow-y: scroll;
  border-top: 1px solid rgba(63, 67, 76, 0.1);
  border-bottom: 1px solid rgba(63, 67, 76, 0.1); }
  @media (min-width: 40.063em) {
    .teacher-comment {
      height: 545px;
      padding: 0 60px;
      margin: 40px 50px; } }
  .teacher-comment h3 {
    font-weight: 300;
    text-transform: uppercase;
    font-size: 1rem; }
    @media (min-width: 40.063em) {
      .teacher-comment h3 {
        font-size: 1.2rem; } }
  .teacher-comment h4 {
    font-weight: 300;
    text-transform: uppercase;
    font-size: 1.4rem; }
    @media (min-width: 40.063em) {
      .teacher-comment h4 {
        font-size: 2rem;
        position: relative; } }
    .teacher-comment h4:before {
      font-size: 2.7rem;
      position: absolute;
      margin-left: -50px;
      margin-top: 3px;
      text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.1); }
  .teacher-comment--correct h4 {
    color: #7acbad; }
    @media (min-width: 40.063em) {
      .teacher-comment--correct h4:before {
        content: "check"; } }
  .teacher-comment--incorrect h4 {
    color: #f3575e; }
    @media (min-width: 40.063em) {
      .teacher-comment--incorrect h4:before {
        content: "close"; } }

.result__track {
  margin-top: 0; }

.js-result.js-active {
  margin-top: -100vh; }
  @media (min-width: 40.063em) {
    .js-result.js-active {
      margin-top: -662px; } }
