

.box {
  margin: 50px 0;
  padding: 30px;
  background-color: rgba($purple, .1);
  border: 1px solid rgba($purple, .3);
  
  h1, h2, h3, h4, h5, h6 {
    margin-top: 0;
  }

  p {
    margin: 0;
    font-family: $display-font;
    font-weight: 300;
    line-height: 1.43;
    font-size: 1.2rem;
    color: rgba($purple, .7);
  }

  p + p {
    margin-top: 10px;
  }
}

.box--atencao {
  background-color: rgba($red, .1);
  border-color: rgba($red, .2);

  h1, h2, h3, h4, h5, h6 { color: $red; }
}

