
// // modal
.modal {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 100;
  width: 100vw;
  height: 100vh;
  pointer-events: none;
}

.modal__inner {
  z-index: 101;
  pointer-events: all;
  width: 100vw;
  height: 100vh;
  
  @include breakpoint($medium-up) {
    position: relative;
    margin-left: auto;
    margin-right: auto;
    margin-top: 34vh;
    max-width: 800px;
    width: 80vw;
    height: 56.7vh;
    box-shadow: 5px 5px 15px rgba(black, .2);
  }

  .button-next {
    position: static;
    background-color: $gray;
    box-shadow: 5px 5px 15px rgba(black, .2);

    @include breakpoint($medium-up) {
      transform: rotate(45deg);
      height: 100px;
      width: 100px;
      right: -20px;
      bottom: 60px;
      position: absolute;
    }

    .material-icons {
      @extend .u-transition;
      color: $gray;

      @include breakpoint($medium-up) {
        color: rgba(white, .3);
        font-size: 6rem;
        transform: rotate(-45deg);
      }
    }

    &:hover {
      .material-icons { color: white; }
    }
  }
}

.modal { 
  // display: none;

  &__inner {
    opacity: 0;
    pointer-events: none;
    @include breakpoint($medium-up) {
      transform: scale(1.2);
    }
    @extend .u-transition;  
  }
}

.modal.js-active { 
  // display: block;
  
  .modal__inner {
    opacity: 1;
    pointer-events: all;
    transform: scale(1);
    @extend .u-transition;  
  }
}

// // result modal

.result {
  text-align: center;
  background-color: white;
  height: inherit;
  overflow-y: hidden;
  @include breakpoint($medium-up) {
    width: 100%;
  }
  
  &__track {
    @extend .u-transition;
  }

  &__content {
    height: 100vh;
    padding: 86px 20px;

    @include breakpoint($medium-up) {
      padding: 99px 60px;
      height: 100%;
    }

    h2 {
      text-transform: uppercase;
      font-family: $display-font;
      font-size: 3rem;
      font-weight: 400;
      color: white;
      letter-spacing: 2px;
      display: block;
      margin-bottom: 40px;
    }

    > .material-icons {
      font-size: 10rem;
      color: white;
      text-shadow: 3px 3px 15px rgba(black, .25);
      margin-top: 20px;
    }
  }

  &--correct { background-color: $green; }
  &--incorrect { background-color: $red; }
}

.button--full {
  margin-top: 10px;
  width: 100%;
  color: rgba($gray, .7);

  @include breakpoint($medium-up) {
    margin-top: 30px;
    width: 65%;
  }
}

.teacher-comment { 
  padding: 20px;
  background-color: white; 
  color: $gray;
  text-align: left;
  overflow-y: scroll;  
  border-top: 1px solid rgba($gray, .1);
  border-bottom: 1px solid rgba($gray, .1);

  @include breakpoint($medium-up) {
    height: 545px;
    padding: 0 60px;
    margin: 40px 50px;
  }

  h3 {
    font-weight: 300;
    text-transform: uppercase;
    font-size: 1rem;
    @include breakpoint($medium-up) { font-size: 1.2rem; }
  }

  h4 {
    font-weight: 300;
    text-transform: uppercase;
    font-size: 1.4rem;

    @include breakpoint($medium-up) {
      font-size: 2rem;
      position: relative;
    }
    
    &:before {
      @extend .u-material-icons;
      font-size: 2.7rem;
      position: absolute;
      margin-left: -50px;
      margin-top: 3px;
      text-shadow: 1px 1px 4px rgba(black, .1);
    }
  }

  &--correct h4 {
    color: $green;
    @include breakpoint($medium-up) {
      &:before { content: "check"; }
    }
  }

  &--incorrect h4 {
    color: $red;
    @include breakpoint($medium-up) {
      &:before { content: "close"; }
    }
  }
}

.result__track {
  margin-top: 0;
  @extend .u-transition;
}

.js-result.js-active {
  margin-top: -100vh;
  @include breakpoint($medium-up) {
    margin-top: -662px;
  }
  @extend .u-transition;
}

