.top-bar {
  display: flex;
  &__button { flex: 0; }
  &__title { flex: 1; }
}

.top-bar__button {
  padding: 17px 20px;
  background-color: rgba(white, .05);
  color: white;
}

.top-bar {
  background-color: $blue-gray;
  box-shadow: 2px 2px 10px rgba(black, .15);

  h1 {
    margin: 0;
    font-size: 1.1rem;
    font-family: $display-font;
    color: white;
    font-weight: 300;
    letter-spacing: 1px;
    text-transform: uppercase;
    text-align: center;
    @include breakpoint($medium-up) {
      font-size: 1.4rem;
    }

    a {
      padding: 18px 40px;
      display: inline-block;
      @include breakpoint($medium-up) { padding: 15px 40px; }
    }
  }
}

.wrapper {
  margin-left: 20px;
  margin-right: 20px;
  
  @include breakpoint($medium-up) {
    margin-left: auto;
    margin-right: auto;
    max-width: 700px;
  }
}

// question

.question {
  h2, h3, h4, small { font-family: $display-font; }
  
  h2 { 
    text-transform: uppercase; 
    font-size: 1.5rem;
    
    @include breakpoint($medium-up) {
      font-size: 2rem;
    }
  }

  h3 { 
    font-size: 1.1rem;
    @include breakpoint($medium-up) {
      font-size: 1.4rem;
    } 
  }

  h4 { 
    font-size: 1.2rem; 
    text-transform: uppercase;
    color: $yellow;
    font-weight: 400;
    margin: 0;
  }

  p {
    color: rgba($gray, .7);
    letter-spacing: .5px;
  }

  &__header {
    padding-top: 5vh;
    background-color: white;
    box-shadow: 2px 2px 10px rgba(black, .15);

    hgroup {
      padding-bottom: 5vh;
    }

    h2, h3, small {
      color: rgba($gray, .5);
      font-weight: 300;
      margin: 0;
    }

    small { 
      font-size: 1rem; 
      @include breakpoint($small-only) {
        font-size: .9rem; 
        margin-top: 10px;
        line-height: 1.4;
        display: block;
      }
    }
  }

  &__content {
    background-color: rgba($gray, .05);
    padding: 5vh 0 10vh;
  }
}

.button--full {
  font-weight: 400;
  text-align: center;
}

.question-controls {
  @extend .wrapper;
  display: flex;
  flex-wrap: wrap;
  
  @include breakpoint($small-only) {
    padding-bottom: 30px;
  }


  .button { 
    flex: 1; 
    box-shadow: 2px 2px 10px rgba(black, .15);
  }

  .button:first-of-type { margin-right: 14px; }  
  
  @include breakpoint($medium-up) {
    .button:first-of-type { margin-right: 40px; }  
  }

  .button--full {
    flex: 0 0 100%;
    @include breakpoint($medium-up) {margin-top: 30px;}
  }
}



// progress

.progress {
  width: 100%;
  background-color: rgba($beige, 1);
  height: 6px;
  display: flex;

  &__bar { 
    flex: 1; 
    background-color: transparent;
  }
  &--correct { background-color: $green; }
  &--incorrect { background-color: $red; }
}


// answer buttons
.answer-button {
  background-color: white;
  box-shadow: 2px 2px 10px rgba(black, .15);
  font-weight: 300;

  @include breakpoint($small-only) {
    text-align: center;
    margin-top: -55px;
  }

  @include breakpoint($medium-up) {
    padding: 40px 60px 40px 42px;
    font-size: 1.8rem;
    margin-top: -70px;
  }

  i { 
    float: none; 
    font-size: 3rem;
    margin-bottom: 5px;
    @include breakpoint($small-only) { 
      display: block; 
      margin: 0 0 5px;
    }
    @include breakpoint($medium-up) { margin-right: 35px; }
  }

  &--correct { color: $green; }
  &--incorrect { color: $red; }
}

:checked + .answer-button--correct { 
  color: white;
  background-color: $green; 
}

:checked + .answer-button--incorrect { 
  color: white;
  background-color: $red; 
}
