* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  height: 100vh;
}

// Typography

a {
  color: currentColor;
  text-decoration: none;
}

body {
  font-family: $body-font;
  font-weight: 100;
  letter-spacing: .5px;
  font-size: 20px;
  line-height: 1.5;
  color: #2A363B;
}


#overlay {
  position: fixed;
  background-color: rgba(yellow, .1);
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: none;

  &.js-active { display: block; }
}


// TEMP SHIT
.temp-index {
  text-align: center;
  padding: 50px;

  .button {
    font-size: 3rem;
    padding: 50px;
    display: block;
    margin-bottom: 30px;
  }
}