---
layout: default
title: questionnaire
---

<main role="main" class="questionnaire">
  <header class="top-bar">
    <h1>Concurso Direito</h1>
  </header>
  
  <div class="progress-bar">
    <span class="progress-bar__bar js-progress"></span>
  </div>
  
  <div class="js-slider slider">
    {% for i in site.data.questoes %}
    <div class="slide question">
      <div class="question__content">
        <h4>Questão {{ forloop.index }}</h4>
        {{ i.question.description | markdownify }}

        <div class="question__controls controls js-answer">
          <!-- Make this a Radio Button? -->
          <button class="js-answer controls__button controls--yes">Certa</button>
          <button class="js-answer controls__button controls--no">Errada</button>
          <button class="controls__button controls--aux js-open-comment">Comentário do Professor</button>
        </div>
        
        <div class="slider-controls controls">
          <button class="controls__button controls--prev"><i class="material-icons">arrow_back</i></button>
          <button class="controls__button controls--next"><i class="material-icons">arrow_forward</i></button>
        </div>
      </div>
      
      <div class="question__comment js-comment {% if i.answer.title == 'Certa' %}yes{% else %}no{% endif %} ">
        <h3>{{ i.answer.title }} <i class="material-icons js-close-comment">close</i></h3>
        {{ i.answer.description | markdownify }}
      </div>
    </div>

    {% endfor %}
    
  </div>
<!-- (CESPE/2017- Prefeitura De Fortaleza- Procurador Do Município)     -->

</main>

