---
layout: default
title: Concursos
---

<header class="header">
  <div class="header__top">
    <hgroup>
      <img class="logo show-medium-up" src="{{'/images/direito-no-concurso-logo-pos.png' | relative_url }}" alt="Direito no Concurso (Beta)">
      <h2>Aulas<br class="mobile-only"> das leis específicas</h2>
      <h3>Concurso Público
      <strong>POLÍCIA CIVIL BAHIA</strong></h3>
      <p class="mobile-only">Prof. Lisiane Brito</p>
    </hgroup>
    <img class="prof-pic" src="{{ '/images/prof-lisiane-brito.jpg' | relative_url }}" alt="Professora Lisiane Brito">
    <p class="prof-name show-medium-up">Prof. Lisiane Brito</p>

  </div>
  <div class="header__bottom branding">
    <img class="mobile-only" src="{{'/images/direito-no-concurso-logo.png' | relative_url }}" alt="Direito no Concurso (Beta)">
    
  </div>
  <div class="header__call-to-action">
    <a href="#aulas" class="button button--main">veja nossas aulas</a>
  </div>
</header>

<main role="main"> <!-- main content starts here -->

<div id="aulas" class="content-outline">
  <hgroup class="wrapper">
    <h2 class="section-title">Leis Específicas</h2>
    <!-- <h3><em>(para todos os cargos)</em></h3>
    <h4>Leis específicas</h4> -->
  </hgroup>

  <ul class="content-outline__list">
    {% for i in site.data.beta %}
    <li class="content-outline__item {%unless i.page_url%}soon{%endunless%} ">
      <div class="wrapper">
        <hgroup class="titles">
          <h2>{{i.titulo}}</h2>
          <h3>{{i.categoria}}</h3>
          <h4 class="preco show-medium-up">R$ {{i.preco}}</h4>
        </hgroup>
        
        <p class="description">{{i.desc}}</p>
        
        <h4 class="preco mobile-only">R$ {{i.preco}}</h4>

        <a href="{{i.page_url}}" class="button button--{%if i.page_url%}available{%else%}soon{%endif%}" target="_blank">{%if i.page_url%}Comprar{%else%}Breve{%endif%}</a>  
      </div>
    </li>
  {% endfor %}
  </ul>
</div>

<!-- <div class="products">
  <h2>Apostilas</h2>
  <ul class="product-list">
    {% for i in site.data.beta %}
    <div>
      {% for j in i.files %}
      <li class="product-item product-item--{%if i.page_url%}available{%else%}soon{%endif%}">
        <span>PARTE {{j.parte}}</span>
        <h2>{{i.produto}}</h2>
        <h3>{{i.titulo}}</h3>
        <a href="{{j.buy_link}}" class="button button">{%if i.page_url%}Comprar{%else%}Breve{%endif%}</a>
      </li>
      {% endfor %}
    </div>
    {% endfor %}
  </ul>
</div> -->

</main>

<footer>
  <p>© 2018 All rights reserved.</p>
</footer>